{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block main %}
	<h1 class="h1 text-white">Connexion</h1>
	<form method="post" action="{{ path('app_login') }}" class="form-custom section">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="container">
			{% if error %}
				<div class="text-danger mb-5">{{ error.messageKey|trans(error.messageData, 'security')|nl2br }}</div>
			{% endif %}

			<label for="inputUsername" class="label-custom required">Pseudo</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input-custom" autocomplete="username" placeholder="Pseudo" required autofocus>
			<label for="inputPassword" class="label-custom required">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="input-custom" autocomplete="current-password" placeholder="Mot de passe" required>

			<div>
				<div class="form-check form-switch">
					<input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input mt-5">
					<label for="_remember_me" class="form-check-label label-custom">Resté connecté</label>
				</div>
			</div>

			<button class="cta" type="submit">Connexion</button>
			<p>
				<a href="{{ absolute_url(path('app_forgot_password_request')) }}">Mot de passe oublié ?</a>
			</p>
			<p class="mb-0">
				<a href="{{ absolute_url(path('app_register')) }}">Pas encore inscrit(e) ?</a>
			</p>
		</div>

	</form>
{% endblock %}
