{% extends 'base.html.twig' %}

{% if trick is defined %}
	{% set title = "Édition : " ~ trick.title %}
	{% set metaDesc = "Des améliorations à apporter ? Éditez la figure « " ~ trick.title ~ " »." %}
{% else %}
	{% set title = "Créer une nouvelle figure" %}
	{% set metaDesc = "Créez une figure et partagez-la avec toute la communauté !" %}

{% endif %}

{% block slug %}template-figure{% endblock %}
{% block metaDesc %}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
	<div class="bg-white position-relative trick-template">
		<article>
			{% set thumbnailPath = absolute_url(asset('img/trick-default.png')) %}
			{% set thumbnailIndex = 0 %}
			{% set lastTrickImageIndex = 0 %}

			{% if trick is defined %}
				{% for index, trickImage in trick.trickImages %}
					{% set lastTrickImageIndex = index %}
					{% if trickImage.isThumbnail %}
						{% set thumbnailPath = absolute_url(asset('upload/tricks/' ~ trickImage.filename)) %}
						{% set thumbnailIndex = index %}
					{% endif %}
				{% endfor %}

				<header class="trick__header" style="background: url({{ thumbnailPath }}) no-repeat center / cover">
					<h1 class="h1">Édition :
						{{ trick.title }}</h1>
				</header>
			{% endif %}

			{% if trick is defined %}
				<div class="section pb-0">
					<div class="container container-custom">
						<ul class="trick__info d-md-flex justify-content-between">
							<li class="my-2 my-md-0">
								<span class="fw-bold">Créé le :</span>
								{{ trick.creationDate|date('d/m/Y à H:i:s')}}
							</li>
							{% if trick.updateDate %}
								<li>
									<span class="fw-bold">Modifié le :</span>
									{{ trick.updateDate|date('d/m/Y à H:i:s')}}
								</li>
							{% endif %}
						</ul>
						<hr>
					</div>
				</div>
			{% endif %}

			<div class="container container-custom">
				{% if trick is not defined %}
					<h1 class="h1">Nouvelle figure</h1>
				{% endif %}
				<form method="post" action="{{ app.request.pathinfo }}" enctype="multipart/form-data">
					<input type="hidden" name="thumbnail" value="{{ thumbnailIndex }}">

					<div class="row files-upload-container mb-4">
						{% if trick is defined %}
							{% for index, trickImage in trick.trickImages %}
								<div class="col-sm-3 col-6">
									<input type="hidden" name="curImage[]" value="{{ trickImage.filename }}" class="d-none">
									<div class="upload-image-btn-wrapper has-img{% if trickImage.isThumbnail %} is-thumbnail{% endif %}" data-index="{{ index }}">
										<i class="fa fa-image thumbnail-btn" title="Définir comme miniature"></i>
										<i class="fa fa-times delete-btn" title="Supprimer l'image"></i>
										<label class="upload-image-btn" style="background: url({{ absolute_url(asset('upload/tricks/' ~ trickImage.filename)) }}) no-repeat center / cover">
											<input type="file" name="newImage[]" class="d-none">
										</label>
									</div>
								</div>
							{% endfor %}
						{% endif %}
						<div class="col-sm-3 col-6">
							<div class="upload-image-btn-wrapper" data-index="{{ (trick is defined and lastTrickImageIndex == 0 and trick.trickImages|length == 0) or trick is not defined ? 0 : lastTrickImageIndex + 1 }}">
								<i class="fa fa-image thumbnail-btn" title="Définir comme miniature"></i>
								<i class="fa fa-times delete-btn" title="Supprimer l'image"></i>
								<label class="upload-image-btn">
									<input type="file" name="newImage[]" class="d-none">
								</label>
							</div>
						</div>
					</div>

					<div class="row embed-videos-container"></div>

					<div class="mb-5">
						<select class="select2 select2-tags form-control" name="embed_code[]" multiple>
							{% if trick is defined %}
								{% for trickVideo in trick.trickVideos %}
									<option value="{{ trickVideo.embedCode }}" selected>{{ trickVideo.embedCode }}</option>
								{% endfor %}
							{% endif %}
						</select>
					</div>

					<div class="mb-5">
						<input type="text" name="title" id="title" class="input-custom" placeholder="Titre" {% if trick is defined %} value="{{ trick.title }}" {% endif %}>
					</div>

					<div class="mb-5">
						<textarea name="description" id="description" class="tinymce" placeholder="Contenu">
							{% if trick is defined %}
								{{ trick.description }}
							{% endif %}
						</textarea>
					</div>

					<div class="row">
						<div class="col-md-12 mb-md-0 mb-4">
							<select name="category" id="category" class="select2">
								<option></option>
								{% for category in trickCategories %}
									<option value="{{ category.id }}" {% if trick is defined and category.id == trick.category.id %} selected {% endif %}>{{ category.name }}</option>
								{% endfor %}
							</select>
						</div>
						{# <div class="col offset-md-1 text-md-start text-center">
																									<div>
																										<div class="form-check form-switch d-md-flex align-items-center justify-content-end mt-2">
																											<input class="form-check-input" type="checkbox" role="switch" id="is_draft" name="is_draft" value="1" {% if trick is defined and trick.isDraft %} checked {% endif %}>
																											<label class="form-check-label label-custom mt-0" for="is_draft">Brouillon</label>
																										</div>
																									</div>
																								</div> #}
					</div>

					<div class="text-center">
						<button class="cta mb-0">Valider</button>
					</div>
				</form>
			</div>
		</article>
	</div>
{% endblock %}
