{% extends 'base.html.twig' %}

{% if trick is defined %}
	{% set title = "Édition : " ~ trick.title %}
{% else %}
	{% set title = "Créer une nouvelle figure" %}
{% endif %}

{% block slug %}template-figure
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
	<div class="bg-white position-relative trick-template">
		<article>
			<header class="trick__header">
				<div class="trick__actions">
					<a href="tpl-creation-edition-figure.php">
						<i class="fad fa-edit"></i>
					</a>
					<a href="#">
						<i class="fad fa-trash"></i>
					</a>
				</div>
				<h1 class="h1">{{ title }}</h1>
			</header>
			<div class="section pb-0">
				{% if trick is defined %}
					<div class="container container-custom">
						<ul class="trick__info d-md-flex justify-content-between">
							<li class="my-2 my-md-0">
								<span class="fw-bold">Créé le :</span>
								03/11/2021 à 10:00:00</li>
							<li>
								<span class="fw-bold">Modifié le :</span>
								06/11/2021 à 15:21:00</>
						</ul>
						<hr>
					</div>

					<div class="container" id="trick__medias">
						<div class="row">
							<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0">
								<img src="{{ absolute_url(asset('img/unnamed.png')) }}" alt="Figure n°X" class="img-fluid">
								<div class="trick__actions mt-3">
									<a href="#">
										<i class="fad fa-edit"></i>
									</a>
									<a href="#">
										<i class="fad fa-trash"></i>
									</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0">
								<img src="{{ absolute_url(asset('img/unnamed.png')) }}" alt="Figure n°X" class="img-fluid">
								<div class="trick__actions mt-3">
									<a href="#">
										<i class="fad fa-edit"></i>
									</a>
									<a href="#">
										<i class="fad fa-trash"></i>
									</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0">
								<img src="{{ absolute_url(asset('img/unnamed.png')) }}" alt="Figure n°X" class="img-fluid">
								<div class="trick__actions mt-3">
									<a href="#">
										<i class="fad fa-edit"></i>
									</a>
									<a href="#">
										<i class="fad fa-trash"></i>
									</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/0uGETVnkujA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid"></iframe>
								<div class="trick__actions mt-3">
									<a href="#">
										<i class="fad fa-edit"></i>
									</a>
									<a href="#">
										<i class="fad fa-trash"></i>
									</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/0uGETVnkujA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid"></iframe>
								<div class="trick__actions mt-3">
									<a href="#">
										<i class="fad fa-edit"></i>
									</a>
									<a href="#">
										<i class="fad fa-trash"></i>
									</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-4 col-sm-6 text-center">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/0uGETVnkujA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid"></iframe>
								<div class="trick__actions mt-3">
									<a href="#">
										<i class="fad fa-edit"></i>
									</a>
									<a href="#">
										<i class="fad fa-trash"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="text-center d-block d-lg-none">
							<button class="cta mb-0 btn-hide-medias" data-target="#trick__medias" data-action="fadeOut">Cacher les médias</button>
						</div>
					</div>
				</div>
				<div class="text-center d-block d-lg-none">
					<button class="cta mb-0 btn-see-medias mt-0" data-target="#trick__medias">Voir les médias</button>
				</div>
			{% endif %}
			<div class="section pb-0">
				<div class="container container-custom">
					<form method="post" action="" enctype="multipart/form-data">
						<label class="upload-image-btn">
							<input type="file" name="image[]" class="d-none">
						</label>
						<div class="mb-5">
							<input type="text" name="title" id="title" class="input-custom" placeholder="Titre">
						</div>

						<div class="mb-5">
							<textarea name="description" id="description" class="tinymce" placeholder="Contenu"></textarea>
						</div>

						<div class="row">
							<div class="col-md-9 mb-md-0 mb-4">
								<select name="category" id="category">
									<option></option>
									{% for category in trickCategories %}
										<option value="{{ category.id }}">{{ category.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col offset-md-1 text-md-start text-center">
								<div>
									<div class="form-check form-switch d-md-flex align-items-center justify-content-end mt-2">
										<input class="form-check-input" type="checkbox" role="switch" id="is_draft" name="is_draft" value="1">
										<label class="form-check-label label-custom mt-0" for="is_draft">Brouillon</label>
									</div>
								</div>
							</div>
						</div>

						<div class="text-center">
							<button class="cta">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</article>
	</div>
{% endblock %}
