{% extends 'base.html.twig' %}
{% block slug %}template-figure
{% endblock %}
{% block title %}
	{{ trick.title }}
{% endblock %}
{% set headerImage = null %}
{% for image in trick.trickImages %}
	{% if image.isThumbnail %}
		{% set headerImage = absolute_url(asset("upload/tricks/1920/#{image.filename}")) %}
	{% endif %}
{% endfor %}

{% block main %}
	<div class="bg-white position-relative trick-template">
		<article>
			<header class="trick__header" {% if headerImage %} style="background: url({{ headerImage }}), no-repeat center / contain" {% endif %}>
				<div class="trick__actions">
					<a href="tpl-creation-edition-figure.php">
						<i class="fad fa-edit"></i>
					</a>
					<a href="#">
						<i class="fad fa-trash"></i>
					</a>
				</div>
				<h1 class="h1">{{ trick.title }}</h1>
			</header>
			{% if trick.trickImages|length > 0 or trick.trickVideos|length > 0 %}
				<div class="section trick__medias pb-0">
					<div class="container">
						<div class="row trick__medias-wrapper">
							{% for image in trick.trickImages %}
								{% if not image.isThumbnail %}
									<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0 py-3">
										<img src="{{ absolute_url(asset("upload/tricks/536/#{image.filename}")) }}" alt="{{ trick.title }} &mdash; Image n°1" class="img-fluid">
									</div>
								{% endif %}
							{% endfor %}

							{% for video in trick.trickVideos %}
								<div class="col-xl-2 col-lg-4 col-sm-6 text-center mb-4 mb-xl-0 py-3">
									<div class="video-wrapper">
										{{ video.embedCode|raw }}
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="text-center d-block d-lg-none">
							<button class="cta mb-0 btn-hide-medias" data-target=".trick__medias" data-action="fadeOut">Cacher les médias</button>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="text-center d-block d-lg-none">
				<button class="cta mb-0 btn-see-medias" data-target=".trick__medias">Voir les médias</button>
			</div>

			<div class="section pb-0">
				<div class="container container-custom">
					{{ trick.description|raw }}
					<ul class="trick__info d-md-flex justify-content-between">
						<li>
							<span class="fw-bold">Groupe :</span>
							{{ trick.category.name }}
						</li>
						<li class="my-2 my-md-0">
							<span class="fw-bold">Créé le :</span>
							03/11/2021 à 10:00:00
						</li>
						{% if trick.updateDate %}
							<li>
								<span class="fw-bold">Modifié le :</span>
								{{ trick.updateDate|date('d/m/Y à H:i:s')}}
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</article>

		<div class="section pt-0">
			<div class="container">
				<hr>
				<form method="post" action="" class="container container-custom px-0 px-lg-4">
					<textarea name="comment" id="comment" rows="5" placeholder="Votre commentaire..." class="input-custom"></textarea>
					<div class="text-center">
						<button class="cta mb-0">Envoyer</button>
					</div>
				</form>
				<hr>
				{% include "tricks/messages-block.inc.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
