{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	<a href="{{ path('app_new_trick') }}" class="cta{% if app.request.get('_route') != 'app_home' %} cta-white{% endif %}">
		<i class="fa fa-plus me-3"></i>Nouvelle figure
	</a>
{% endif %}

<ul class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 list-unstyled tricklist">
	{% for trick in tricks %}
		<li class="col">
			<figure class="tricklist__item">
				<img src="{{ absolute_url(asset('upload/tricks/536/trick-default.png')) }}" alt="{{ trick.title }}" class="img-fluid">
				<figcaption>
					<a href="{{ path('app_single_trick', {slug: trick.slug}) }}">{{ trick.title }}</a>
					<div class="tricklist__item__actions">
						<a href="#" class="me-2">
							<i class="fa fa-edit"></i>
						</a>
						<a href="#">
							<i class="fa fa-trash-alt"></i>
						</a>
					</div>
				</figcaption>
			</figure>
		</li>
	{% endfor %}
</ul>
<div class="text-center">
	<button class="cta">+ de figures</button>
</div>
