{% block tricklistItems %}

	{% set thumbnail = absolute_url(asset('img/trick-default.png')) %}

	{% for trick in tricks %}
		{% for trickImage in trick.trickImages %}
			{% if trickImage.isThumbnail %}
				{% set thumbnail =  absolute_url(asset('upload/tricks/' ~ trickImage.filename)) %}
			{% endif %}
		{% endfor %}

		<li class="col">
			<figure class="tricklist__item" data-item-type="figure" data-item-title="{{ trick.title }}" data-item-id="{{ trick.id }}">
				<img src="{{ thumbnail }}" alt="{{ trick.title }}" class="img-fluid">
				<figcaption>
					<a href="{{ path('app_single_trick', {slug: trick.slug}) }}">{{ trick.title }}</a>
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<div class="tricklist__item__actions">
							<a href="{{ path('app_edit_trick', {slug: trick.slug}) }}" class="me-2">
								<i class="fa fa-edit"></i>
							</a>
							<button type="button" data-bs-toggle="modal" data-bs-target="#delete-item-modal" data-action="call-popup-delete-item">
								<i class="fa fa-trash-alt"></i>
							</button>
						</div>
					{% endif %}
				</figcaption>
			</figure>
		</li>
	{% endfor %}
{% endblock %}
